body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f7f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


.login-container svg.logo {
    height: 65px;
    justify-self: center;
    align-self: center;
    margin-bottom: 14px;
}

.login-container svg.logo .cls-1 {
    fill: #f13a6f;
}

h1 {
    text-align: center;
    color: #5865f6;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="password"] {
    display: block;
    margin: 0 auto 1rem auto;
    width: 80%;
    padding: 0.8rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus {
    outline: none;
    border-color: #5865f6;
}

.valid {
    border-color: #2ecc71;
    background-color: #eafaf1;
}

.invalid {
    border-color: #e74c3c;
    background-color: #fdecea;
}

.success-text {
    color: #2ecc71;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.error-text {
    color: #e74c3c;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.login-btn {
    display: flex;              
    justify-content: center;   
    align-items: center; 
    width: 100%;
    padding: 0.9rem;
     margin-top: 0.75rem;
    background-color: #5865f6;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #457b9d;
}

.reset-link {
  display: block;
  margin: 0.75rem 0;
  font-size: 0.9rem;
  color: #0078d4;          /* Microsoft blue */
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}

/* Force all states to stay blue */
.reset-link:link,
.reset-link:visited {
  color: #0078d4;
}

.reset-link:hover,
.reset-link:focus {
  color: #171717;          
  text-decoration: underline;
}

.reset-link:active {
  color: #004578;          
}

